body{
background-color: lightgray;
padding: 100px;
}

h1{
text-align: center;
text-decoration: underline;
}

h2{
background-color: darkblue;
color: white;
}

table, th, td {
border: 1px solid black;
width: 100%;
text-align: center;
}

